/* Dropdown.css */
.dropdown {
    position: relative;
    display: inline-block;
}

h2{
    color: rgb(220, 220, 211);
}
  
.dropdownBtn {
    background-color: rgba(83, 77, 77, 0.799);
    color: white;
    display: flex;
    justify-content: center;
    /* margin-left: 39%; */
    flex-wrap: wrap;
    align-content: center;
    width: 400px;
    height: 9vh;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 25px;
    cursor: pointer;
    border: none;
}
  
.dropdownList {
    width: 90%;
    list-style: none;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
  
.dropdownList li {
    display: flex;
    color: black;
    justify-content: center;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    margin-right: 40px;
}
  
.dropdownList li:hover {
    background-color: #f0f0f0;
}
  